<h2>
    <label>
        <span class="pull-left">Редагування курсу:</span><input style="width: auto" type="text" class="form-control pull-left" ng-model="course.title"/>
    </label>
</h2>
<hr/>
<label class="" for="inputHelpBlock">Посилання на відео курсу</label>
<input type="text" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock" ng-model="course.video">
<hr/>
<h3>Текст лекції</h3>
<textarea name="" id="" ng-model="course.html" class="editable">

</textarea>
<hr/>
<div>
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" ng-model="course.is_hidden"> Можна проходити
    </label>
</div>
<hr/>
<div>
    <div ng-if="message">
        <h2 class="message text-center">{{message}}</h2>
        <hr/>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="save()">Зберегти</button>
    <br/>
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="back()">До списку курсів</button>

</div>